@model ProjePersonelModel.Entities.Mission
@{
    ViewData["Title"] = "GorevEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yeni Görev Ekle</h1>

<form asp-action="GorevEkle" method="post" class="w-75 mx-auto p-3">
    <div class="form-group">
        <label>Görev Adı: </label>
      
        <input type="text" asp-for="MissionName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Açıklama: </label>
      
        <textarea asp-for="Description" class="form-control"> </textarea>
    </div>
    <div class="form-group">
        <label>Görev Eklenecek Departman Seçiniz: </label>
        <span asp-validation-for="DepartmanID" class="text-danger"> </span>
        <select asp-for="DepartmanID" class="form-control" asp-items=" ViewBag.Departmanlar">
            <option hidden value="-1"> Seçiniz </option>
        </select>
    </div>

    <button type="submit" class="btn btn-info btn-sm"> <i class="fas fa-check-circle mr-2"></i> Kaydet</button>
</form>


