@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Personel Takip Uygulamasına Holgeldiniz </h1>
  
</div>






<div class="row">
    <div class="col-md-6">
        <div class="card text-white bg-danger text-center mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h6 class="card-title">Aktif Calisan Personel Sayisi</h6>
                <p class="card-text">@ViewBag.AktifCalisanPersonelSayisi</p>
                <a href="/Personnel/CalisanPersonel" class="btn btn-outline-info">Aktif Personellere Git</a>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Aktif Çalışan Personel Sayısı</h5>
                <p class="card-text"> @ViewBag.AktifCalisanPersonelSayisi</p>
                <a href="/Personnel/CalisanPersonel" class="btn btn-outline-info">Aktif Personellere Git</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">İsten Ayrilmis Personel Sayisi</h5>
                <p class="card-text"> @ViewBag.IstenAyrilmisPersonelSayisi</p>
                <a href="/Personnel/IstenAyrılanPersonel" class="btn btn-outline-info">İşten Ayrılmış Personellere Git</a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Aktif Departman Sayisi</h5>
                <p class="card-text"> @ViewBag.AktifDepartmanSayisi</p>
                <a href="/Departman/Index" class="btn btn-outline-info">Aktif Departmanları Görüntüle</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-outline-info">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

