@{
    ViewData["Title"] = "PST Uygulaması";
}

<div class="text-center">
    <h1 class="display-4">Personel Takip Uygulamasına Holgeldiniz </h1>
  
</div>


<div class="container">
    <div class="row align-items-center">
        <div class="col-sm">

            <div class="card text-black card border-info text-center mb-3">
                    <div class="card-body">
                        <h6 class="card-title">Aktif Calisan Personel Sayisi</h6>
                        <p class="card-text">@ViewBag.AktifCalisanPersonelSayisi</p>
                        <a href="/Personnel/CalisanPersonel" class="btn btn-outline-info">Aktif Personellere Git</a>

                    </div>
              
            </div>
        </div>
        <div class="col-sm">

            <div class="card text-black card border-info text-center mb-3">
                    <div class="card-body">
                        <h6 class="card-title">İşten Ayrılan Personel Sayisi</h6>
                    <p class="card-text">@ViewBag.IstenAyrilmisPersonelSayisi</p>
                    <a href="/Personnel/IstenAyrılanPersonel" class="btn btn-outline-info">İşten Ayrılan Personellere Git</a>

                  
                </div>
            </div>
        </div>
        <div class="col-sm">

            <div class="card text-black card border-info text-center mb-3">
                    <div class="card-body">
                        <h6 class="card-title">Aktif Departman Sayisi</h6>
                        <p class="card-text"> @ViewBag.AktifDepartmanSayisi</p>
                        <a href="/Departman/Index" class="btn btn-outline-info">Aktif Departmanları Görüntüle</a>

                   
                </div>
            </div>
        </div>
    </div>
</div>





